*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Share Tech Mono', monospace;
}

#game-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	margin: 20px;
	text-align: right;
}

#remaining-mine-count {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  color: rgb(134, 134, 134);
}

#mine-count {
  color: red;
}

button {
  font-family: 'Share Tech Mono', monospace;
  padding: 5px;
  background: radial-gradient(ellipse at top, #ffffff, transparent),
            radial-gradient(ellipse at bottom, #8a8a8a, transparent);
  color: rgb(134, 134, 134);
}

img {
  display: none;
}

.img-show {
  display: inline-block;
  position: absolute;
  margin: -110px;
}

#status-message {
  font-size: 20px;
}

#board {
	display: flex;
	flex-wrap: wrap;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.cell {
	height: 30px;
	width: 30px;
  margin: 0;
  background: radial-gradient(ellipse at top, #ffffff, transparent),
            radial-gradient(ellipse at bottom, #8a8a8a, transparent);
	border: solid 1px rgb(161, 161, 161);
  font-size: 25px;
  text-align: center;
}

.cell:hover {
	background: radial-gradient(ellipse at top, #ffffff, transparent),
            radial-gradient(ellipse at bottom, #4e4e4e, transparent);
}

#levels-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
